/* reset */

@media screen and (max-width: 992px) {
    .card{
        width: calc(100% / 4);
        padding: 20px 10px 20px 0;
    }
    .bar-right{
        padding: 0;
        min-width: 140px;
    }
}

@media screen and (max-width: 768px) {
    .card{
        width: calc(100% / 2);
        padding: 20px 10px 20px 0;
    }
}