/* reset */

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    min-height: 90px;
}

.debug {
    border: 1px solid black;
}

.padding-left20{
    padding-left:20px;
}

.padding-bottom5 {
    padding-bottom: 5px;
}

.container-flex {
    display: flex;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.left {
    float: left;
}
.right {
    float: right;
}

.wrapper {
    height: 100vh;
    width: 100%;
}

.wrapper-content {
    width: 100%;
    height: calc(100% - 80px);
    background-color: blue;
}

/* aside */
aside {
    width: 230px;
    background-color: black;
    padding-top: 20px;
    color: white;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

.container-selection {
    height: 410px;
    overflow: auto;
}

#logo-con-scritta {
    width: 150px;
    margin-bottom: 30px;
    padding-left:20px;
}

aside li, .icone-left li {
    list-style-type: none;
}

.selection li:hover {
    border-left:1px solid yellowgreen;
}

/* lista playlist */

.playlist-list li:first-child {
    padding-bottom: 10px;
}

aside li a, .icone-left li a{
    text-decoration: none;
    color: grey;
}

aside li a:hover{
    color: white;
}

aside li img {
    width: 25px;
    vertical-align: middle;
    margin-right: 10px;
}

aside h3 {
    padding: 10px 0;
}
aside ul li span {
    font-size: 30px;
    padding: 4px 14px;
    background: grey;
    vertical-align: middle;
    color: black;
}

/* download e profilo */
.aside-footer {
    width: 90%;
}

#profilo {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
}

#profilo img {
    width: 100%;
    object-fit: cover;
    fill: white;
}

.aside-footer span{
    position: relative;
    bottom: 10px;
}
/*  / aside */


/* main */
main {
    width: calc(100% - 230px);
    background-color: #262626;
}

/* nav-top */
nav.top {
    width: calc(100% - 230px);
    height: 80px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.upgrade {
    margin: 25px 40px;
}

.upgrade a {
    border: 1px solid white;
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
}

.upgrade:hover{
    transform: scale(1.1);
}

/* main-content */
.main-content {
    height: 100%;
    width: 100%;
    overflow-y: auto ;
    padding-top: 80px;
    font-size: 14px;
}

/* barra navigazione */
.main-content nav {
    text-align: center;
    margin-bottom: 30px;
}

.main-content nav li {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
}

.main-content nav li hr{
    width: 50%;
    margin: 0 auto;
    border: 1px solid yellowgreen;
    display: none;
}

.main-content nav li:hover hr {
    display: block;
}

.main-content nav li a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

/* albums */
.container-albums {
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 6);
    padding: 20px 10px 20px 0;
    min-width: 150px;
}

.card .box-img {
    position: relative;
}

.card .box-img img {
    width: 100%;
}

.image-overflow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    cursor: pointer;
}

.image-overflow i{
    font-size: 50px;
    position: relative;
    top: 61.58px;
    left: 61.58px;
}

.box-img:hover .image-overflow {
    display: block;
}

.image-overflow .pop{
    font-size: 40px;
    position: relative;
    top: 50px;
    left: 50px;
}

.box-text {
    text-align: center;
}

.box-text p{
    padding: 5px 0;
}

.main-content span{
    color: grey;
}

.suggerimenti {
    display: inline-block;
    padding: 5px 0;
}

/* box Artisti popolari */
.container-popolari .box-img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    overflow: hidden;
}

/* footer */
footer {
    height: 80px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0%;
    left: 0%;
}

.player-bar {
    width: 100%;
    height: 100%;
}

.bar-left, .bar-right {
    width: 20%;
    padding: 0 15px;
}

/* bar left */
.card-mini{
    display: flex;
    align-items: center;
    height: 100%;
}

.card-mini .box-img {
    width: 50px;
    display: inline-block;
    margin-right: 10px;
}

.card-mini .box-img img {
    width: 100%;
}

.box-text-bar{
    display: inline-block;
}

.box-text-bar span{
   font-size: 0.8em;
   color: grey;
}

.card-mini .icone-left {
    margin-left: 30px;
}

.icone-left li {
    font-size: 20px;
}

.icone-left li a:active {
    color: red;
}

/* bar center */
.bar-center {
    width: 60%;
}

.center-up {
    text-align: center;
}

.center-up li {
    display: inline-block;
    font-size: 20px;
    padding: 0 15px;
}

.center-up li a {
    color: white;
}

#play {
    font-size: 30px;
    position: relative;
    top: 6px;
}

.center-down {
    margin: 0 auto;
    margin-top: 20px;
}

.download-bar hr {
    width: 40vw;
    border: 3px solid rgb(75, 73, 73);
    border-radius: 10px;
    margin: 0 20px;
    cursor: pointer;
}

.download-bar {
    position: relative;
}

.bar-overflow {
    position: absolute;
    top: 0;
    left: 0;
}

.bar-overflow hr{
    width: 7vw;
    border: 3px solid white;
    z-index: 100;
}

.bar-right li{
    display: inline-block;
    line-height: 80px;
}

.bar-right li a{
    color: white;
    font-size: 12px;
    margin: 0 5px;
}

.barra {
    position: relative;
    top: 38px;
}

.barra hr {
    width: 80px;
    border: 3px solid rgb(75, 73, 73);
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.barra-overfow {
    position: absolute;
    top: 0%;
    left: 0%;
}

.barra-overfow hr {
    width: 50px;
    border: 3px solid white;
}