/* reset */

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
}

.debug {
    border: 1px solid black;
}

.padding-left20{
    padding-left:20px;
}

.padding-bottom5 {
    padding-bottom: 5px;
}

.container-flex {
    display: flex;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.wrapper {
    height: 100vh;
    width: 100%;
}

.wrapper-content {
    width: 100%;
    height: calc(100% - 80px);
    background-color: blue;
}

/* aside */
aside {
    width: 230px;
    background-color: black;
    padding-top: 20px;
    color: white;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

#logo-con-scritta {
    width: 150px;
    margin-bottom: 30px;
    padding-left:20px;
}

aside li {
    list-style-type: none;
}

.selection li:hover {
    border-left:1px solid yellowgreen;
}

/* lista playlist */

.playlist-list li:first-child {
    padding-bottom: 10px;
}

aside li a{
    text-decoration: none;
    color: grey;
}

aside li a:hover{
    color: white;
}

aside li img {
    width: 25px;
    vertical-align: middle;
    margin-right: 10px;
}

aside h3 {
    padding: 10px 0;
}
aside ul li span {
    font-size: 30px;
    padding: 4px 14px;
    background: grey;
    vertical-align: middle;
    color: black;
}

/* download e profilo */
.aside-footer {
    width: 90%;
}

#profilo {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
}

#profilo img {
    width: 100%;
    object-fit: cover;
    fill: white;
}

.aside-footer span{
    position: relative;
    bottom: 10px;
}
/*  / aside */


/* main */
main {
    width: calc(100% - 230px);
    background-color: #262626;
}

/* nav-top */
nav.top {
    width: calc(100% - 230px);
    height: 80px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.upgrade {
    float: right;
    margin: 25px;
}

.upgrade a {
    border: 1px solid white;
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
}

/* main-content */
.main-content {
    height: 100%;
    width: 100%;
    overflow-y: auto ;
    padding-top: 80px;
    font-size: 14px;
}

/* barra navigazione */
.main-content nav {
    text-align: center;
    margin-bottom: 30px;
}

.main-content nav li {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
}

.main-content nav li:hover {
    border-bottom:1px solid yellowgreen;
}

.main-content nav li a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

/* albums */
.container-albums {
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 6);
    padding: 20px 10px 20px 0;
    min-width: 150px;
}

.card .box-img img {
    width: 100%;
}

.box-text {
    text-align: center;
}

.box-text p{
    padding: 5px 0;
}

.main-content span{
    color: grey;
}

.suggerimenti {
    display: inline-block;
    padding: 5px 0;
}

/* box Artisti popolari */
.container-popolari .box-img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    overflow: hidden;
}






footer {
    height: 80px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0%;
    left: 0%;
}